.router-header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
}

.read-more-btn {
    background-color: darkorange;
    margin-top: 45px;
    height: 45px;
    width: 160px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.read-more-btn:hover{
    
    background-color: #0056b3;
}
.form-container {
    position: absolute;
    top: 70%; /* Adjusted top position */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-left: -350px;  
    margin-top: -10px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right: 10px;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    padding: 10px;
    width: calc(100% - 10px);
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group,
button {
    flex: 1;
    margin-bottom: 10px;
    padding: 10px;
}
.buttonc {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;
    transform: translate(-50%, -505);
    width: 25%; 
    left: 650px;
    top: 65px;
}

.search-btn {
    background-color: darkorange;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 150px;
}

.search-btn:hover {
    background-color: #0056b3;
}

.text-overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.travel-text {
    color: rgb(173, 173, 228);
    font-size: 70px;
    font-weight: 700;
}

.with-us-text {
    color: white;
    font-size: 70px;
    font-weight: 750;
    margin-top: -20px;
}

.find-tour-box {
    position: absolute;
    top: -42px;
    left: 0px;
    background-color: #ffffff;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    color:black;
}
