.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://github.com/aakash240402/TOUR_GLOBAL_REACT/blob/main/public/assets/images/header-bg.jpg');
    background-size: cover;
    color: white;
    position: relative;
    z-index: 1;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-logo{
    margin-left: 140px;
  }
  .navbar-title {
    font-size: 24px;
    font-weight: 500;
  }
  
  .navbar-right {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-up {
    display: flex;
    flex-direction: row;
    background-color:white;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    width: 800px;
    flex: 1;
  }
  
  .navbar-up-item {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: -10px;
  }
  
  .navbar-up-item i {
    margin-right: 5px;
  }
  
  .navbar-down {
    flex-direction: row;
    flex: 1;
    margin-left: 70px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-link {
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .nav-link.active {
    color: black;
  }

  .icon {
    margin-right: 10px;
    margin-left: 50px;
  }
  
  .navbar-top{
    position: relative; /* Ensure proper stacking context */
    z-index: 2;
    margin-top: 2px;
    margin-left: -41px;
    height: 50px;
  }
